@charset "utf-8";
/* ---------------------- layout ------------------------- */
#tbtHead{
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    z-index: 10;
}
#tbtContainerWrap{
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #398de3;
    z-index: 0;
}
.tbtContainer {
    background-color: #f5f7fa;
    width: 100%;
    float: left;
    position: relative;
    left: 260px;
}
#tbtLeft{
    float: left;
    margin-right: -100%;
    margin-left: -260px;
    width: 260px;
}
#tbtMain{
    float: left;
    width: 100%;
    margin-left: -260px;
}
.main {
    margin-left: 270px;
    overflow: hidden;
}
#tbtFooter{
    border-top: 2px solid #4094ee;
    padding: 20px 40px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 10px;
}
/* ---------------------- header ------------------------- */
.header .logo{
    float: left;
    width: 259px;
    height: 70px;
    border-right: 1px solid #f6f6f6;
}
.header .logo a{
    float: left;
    margin: 14px 0 0 50px;
}
.header .version{
    float: left;
    padding-left: 40px;
    line-height: 70px;
    font-size: 16px;
    color: #398de3;
}
.header .nav{
    float: right;
    padding: 15px 30px 0 0;
}
.header .nav .nav-item{
    position: relative;
    float: left;
    height: 32px;
    line-height: 32px;
}
.header .nav .user{
    position: relative;
    z-index: 30;
}
.header .nav .user .auser {
    position: relative;
    height: 30px;
    overflow: hidden;
    padding-right: 26px;
    outline: none;
}
.header .nav .user .user-icon {
    position: absolute;
    top: 4px;
    right: 0;
    width: 15px;
    height: 11px;
    background: url("../img/icon-user.png") no-repeat;
    _background: url("../img/icon-user.gif") no-repeat;
}
.header .nav .message {
    position: relative;
    padding-right: 32px;
    margin-right: 10px;
}
.header .nav .message .message-icon {
    position: absolute;
    right: 10px;
    top: 9px;
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url("../img/icon-message.png") no-repeat;
    _background: url("../img/icon-message.gif") no-repeat;
}
.header .nav .message .message-icon .arrow {
    position: absolute;
    top: -14px;
    right: -12px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    font-style: normal;
    background: url("../img/tip.png") no-repeat;
    _background: url("../img/tip.gif") no-repeat;
}
.header .role-select{
    display: none;
    position: absolute;
    right: -62px;
    top: 32px;
    z-index: 999;
    zoom: 1;
    padding-top: 17px;
    background: url("../img/arrow.gif") no-repeat center top;
}
.header .role-select .role-list {
    width: 110px;
    padding: 20px 15px 10px;
    background-color: #398de3;
}
.header .role-list a{
    display: block;
    height: 26px;
    color: #ccc;
    margin-bottom: 10px;
}
.header .role-list a.active {
    color: #fff;
}

.header .nav .line{
    width: 1px;
    height: 18px;
    margin: 6px 16px 0;
    background-color: #666;
}
/* ---------------------- footer ------------------------- */
#tbtFooter p{
    text-align: center;
    font-size:12px;
    color: #999;
}
/* ---------------------- menu ------------------------- */
#tbtLeft .nav {
    padding-bottom: 70px;
    overflow: hidden;
}

#tbtLeft .nav a {
    color: #fff;
    text-decoration: none;
}
#tbtLeft .nav .parent {
    position: relative;
}
.nav .menu-item-parent,
.nav .menu-item-second-parent,
.nav .menu-item-third-parent {
    position: relative;
    display: block;
}
.nav .menu-item-parent {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #5fa1e5;
    font-size: 16px;
    padding-left: 40px;
}

.nav .menu-item-second-parent {
    height: 40px;
    line-height: 40px;
    padding-left: 60px;
    background: url("../img/dot.png") no-repeat 38px 16px;
    _background: url("../img/dot.gif") no-repeat 38px 16px;
    border-right: 4px solid #398de3;
}
.nav .menu-item-third-parent {
    padding-left: 80px;
    height: 34px;
    line-height: 34px;
    background-color: #398de3;
    border-right: 4px solid #398de3;
}
.menu-item-parent .fa-fw {
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url("../img/tbt_sp.png") no-repeat;
    _background: url("../img/tbt_sp.gif") no-repeat;
}
.menu-item-parent .fa-yh {
    background-position: 0 -20px;
}
.menu-item-parent .fa-pd {
     background-position: 0 -40px;
 }
.menu-item-parent .fa-jy {
    background-position: 0 -60px;
}
.menu-item-parent .fa-gg {
    background-position: 0 -80px;
}
.menu-item-parent .fa-ap {
    background-position: 0 -100px;
}
.menu-item-parent .fa-tz {
    background-position: 0 -120px;
}
.menu-item-parent .fa-rp {
    background-position: 0 -140px;
}
.menu-item-parent .fa-pl {
    background-position: 0 -160px;
}
.menu-item-parent .fa-qs {
    background-position: 0 -180px;
}
.menu-item-parent .fa-lv {
    background-position: 0 -200px;
}
.menu-item-parent .fa-qx {
    background-position: 0 -220px;
}
.menu-item-parent .fa-sc {
    background-position: 0 -240px;
}
.menu-item-parent .fa-uk {
    background-position: 0 -260px;
}
.nav .menu-item-parent em.fa {
    position: absolute;
    display: block;
    width: 13px;
    height: 7px;
    overflow: hidden;
    background: url("../img/tbt_sp.png") no-repeat -195px -7px;
    _background: url("../img/tbt_sp.gif") no-repeat -195px -7px;
    top: 24px;
    right: 12px;
}

.nav .open .menu-item-parent em.fa {
    background: url("../img/tbt_sp.png") no-repeat -195px 0;
    _background: url("../img/tbt_sp.gif") no-repeat -195px 0;
}

.nav li .ul-bg,
.nav li.open li.second-parent .ul-bg {
    display: none;
}

.nav li.open .ul-bg,
.nav li.open li.open .ul-bg {
    display: block;
}

.nav li.active li.active .menu-item-second-parent {
    background: url("../img/dot.png") no-repeat 38px 16px #4393e4;
    _background: url("../img/dot.gif") no-repeat 38px 16px #4393e4;
    border-color: #f5a623;
}
.nav li.active li.active.open .menu-item-second-parent {
    background: url("../img/dot.png") no-repeat 38px 16px #398de3;
    _background: url("../img/dot.gif") no-repeat 38px 16px #398de3;
    border-color: #398de3;
}
.nav li.active li.active li.active .menu-item-third-parent {
    background-color: #4393e4;
    border-color: #f5a623;
}
/* ---------------------- main ------------------------- */


/* ---------------------- components ------------------------- */
/*- panel -*/
.tbt-panel {
    background-color: #fff;
    padding: 0 40px;
    margin-bottom: 10px;
}
.tbt-panel.last-panel {
    margin-bottom: 0;
}
.panel-header {
    position: relative;
    /*cursor: pointer;*/
}
.panel-title {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 14px;
    color: #000;
}
.panel-title .note {
    font-size:12px;
    color: #ed1c24;
}
.panel-btnWrap {
    position: absolute;
    top: 14px;
    right: 20px;
    _right: 60px;
    display: inline-block;
    color: #000;
}
.panel-body {
    border-top: 1px solid #e2e6ec;
    padding: 20px 0;
}
.panel-body .section {
    width: 100%;
    overflow: hidden;
}
.panel-body .alert{
    margin-bottom: 20px;
}
.panel-collapse .panel-body {
    display: none;
}
.panel-collapse.in .panel-body {
    display: block;
}
.panel-collapse .collapse-arrow {
    position: absolute;
    right: 20px;
    _right: 50px;
    top: 24px;
    font-size: 12px;
    color: #000;
}
.panel-collapse .collapse-arrow span {
    margin-right: 10px;
}
.panel-collapse .collapse-arrow .icon-collapse {
    width: 12px;
    height: 10px;
    overflow: hidden;
}
.panel-collapse .icon-collapse {
    margin-top: 2px;
    background: url("../img/collapse.gif") no-repeat 0 -14px;
}
.panel-collapse.in .icon-collapse {
    background: url("../img/collapse.gif") no-repeat 0 0;
}
.btn-panel {
    padding: 20px 0;
    background-color: #fff;
}
.btn-wrap {
    text-align: center;
}
.btn-wrap .ml30 {
    margin-left: 30px;
}
/*- tab-panel -*/
.tablet-panel {
    overflow: hidden;
    background-color: #fff;
    /*margin-bottom: 10px;*/
}
.tablet-header {
    position: relative;
    height: 54px;
    border-bottom: 1px solid #e2e6ec;
    background-color: #f5f7fa;
}
.tablet-nav {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.tablet-nav .tablet {
    float: left;
}
.tablet-nav .tablet a {
    float: left;
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #f5f7fa #f5f7fa #e2e6ec #f5f7fa;
    color: #000102;
}
.tablet-nav .tablet.first-child a {
    border-left: 0;
}
.tablet-nav .tablet.active a {
    background-color: #fff;
    border-color: #1d8bd8 #e2e6ec #fff #e2e6ec;
    color: #1d8bd8;
}
.tablet-nav .tablet.hover a {
    background-color: #fff;
    border-color: #1d8bd8 #e2e6ec #fff #e2e6ec;
    color: #1d8bd8;
}
.tablet-content {
    padding: 20px 40px;
    overflow: hidden;
}
.tablet-content .tab-pane {
    display: none;
}
.tablet-content .tab-pane.in {
    display: block;
}
.tablet-navNote {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #1d8bd8;
}
.table .btn-link,
.table-view .btn-link {
    color: #398de3;
}
.table .btn-link.disabled, .table-view .btn-link.disabled {
    color: #999;
}
.table .sep {
    color: #bbb;
    width: 6px;
    height: 20px;
    line-height: 20px;
}
/*- explain -*/
.explain {
    line-height: 26px;
    padding-top: 20px;
    color: #999;
}
/*- icon -*/
.icon{
    display: inline-block;
    vertical-align: top;
    *vertical-align: middle;
    background: url("../img/tbt_sp.png") no-repeat;
    _background: url("../img/tbt_sp.gif") no-repeat;
}
.icon-wz {
    width: 22px;
    height: 22px;
    background: url("../img/wz-icon.png") no-repeat;
    _background: url("../img/wz-icon.gif") no-repeat;
    margin-top: 5px;
}
.icon-add {
    width: 30px;
    height: 30px;
    background-position: -54px -95px;
}
/*- breadnav -*/
.breadnav {
    height: 32px;
    padding: 14px 20px;
    background-color: #fff;
    margin-bottom: 10px;
}
.breadnav .bread-one {
    margin-left: 5px;
}
.breadnav .bread-one,
.breadnav .bread-two {
    line-height: 32px;
}
/*- table -*/
.table {
    width: 100%;
}
.table thead th,
.table tbody td,
.table tfoot td {
    text-align: center;
    padding: 10px 8px;
    line-height: 1.42857;
}

.table thead th {
    font-weight: normal;
    font-size: 14px;
    color: #020202;
}

.table tbody td {
    font-size: 14px;
    color: #515254;
    border-top: 1px solid #e3e4e6;
}
.table thead th.t-left,
.table tbody td.t-left{
    text-align: left;
}
.table thead th.t-right,
.table tbody td.t-right{
    text-align: right;
}
.table thead th.t-center,
.table tbody td.t-center{
    text-align: center;
}
.table-view {
    width: 100%;
    color: #727272;
}
.table-view tbody th,
.table-view tbody td {
    padding: 8px 20px;
}
.table-view tbody th {
    font-weight: normal;
    width: 200px;
    border-right: 1px solid #e8e8e8;
    text-align: right;
    color: #020202;
}
.table-view td img {
    height: 80px;
    width: auto;
}
.table-view td p img {
    display: block;
}
.table tbody td.note {
    text-align: left;
    color: #398de3;
}
/*- table-border -*/
.table-border thead th,
.table-border tbody td {
    border: 1px solid #e3e4e6;
}
.table-border thead th {
    text-align: center;
}
.table-border tbody td {
    text-align: left;
}
/*- table-add -*/
.table-add thead tr {
    background: #f7f8fc;
}
.table-add thead th,
.table-add tbody td {
    text-align: left;
}

/*- table-report -*/
.table-report-caption {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.table-report-unit {
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: #333;
}
.table-report thead th,
.table-report tbody td,
.table-report tfoot td {
    border: 1px solid #e3e4e6;
}
.table-report thead th,
.table-report tfoot td {
    color: #020202;
    background: #f5f7fa;
}
.table-report tfoot td.t-right {
    text-align: right;
}
/*- pagebar -*/
.dt-toolbar-footer{
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 10px 0;
}
.dt-basic-footer-info {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #3e93ed;
}

.dataTables-paginate {
    float: right;
}
.pagination {
    height: 34px;
    padding-top: 6px;
    overflow: hidden;
}
.pagination li {
    float: left;
    margin-left: 8px;
}
.pagination li a {
    position: relative;
    float: left;
    padding: 2px 6px;
    border: 1px solid #3b99ff;
    border-radius: 2px;
}
.pagination  li.active a {
    background-color: #3b99ff;
    color: #fff;
}
.pagination  li.hover a {
    color: #fff;
    background-color: #3b99ff;
}
.pagination  li.disabled a {
    border-color: #fff;
    color: #4a4a4a;
    cursor: not-allowed;
}
.pagination  li.disabled a:hover {
    background-color: #fff;
}
/*- from-group 标签组 -*/
.from-group {
    position: relative;
    float: left;
    min-height: 30px;
    _height: 30px;
    padding-left: 180px;
    /*margin-bottom: 20px;*/
    padding-bottom: 20px;
}
.control-label {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 170px;
    text-align: right;
}
.control-label .required {
    color: #ff3030;
}
.from-control {
    position: relative;
    width: 310px;
}
.from-control.col-lg {
    width: auto;
}
.from-control .input,
.from-control .input-unit,
.from-control .select,
.from-control .textarea,
.from-control .chk-group,
.from-control .btn,
.from-control .abtn,
.from-control .btn-link-wrap,
.from-control .tip,
.from-control .sep {
    float: left;
}
.from-control .text {
    line-height: 30px;
}
.from-control .btn-link-wrap {
    line-height: 30px;
}
.from-control .btn-link {
    text-decoration: underline;
}
.from-group .from-group-error {
    position: absolute;
    left: 180px;
    top: 32px;
    font-size: 12px;
    color: #ff3030;
}
.from-control .tip {
    margin-top: 6px;
    font-size: 12px;
    color: #999;
}
/*----- form ------*/
.input,.input-unit,.select,.chk-group {
    position: relative;
}
.input .errorMessage,
.input-unit .errorMessage,
.select .errorMessage,
.check .errorMessage,
.file .errorMessage,
.textarea .errorMessage {
    position: absolute;
    left: 0;
    top: 30px;
    font-size: 12px;
    color: #ff3030;
}

/*- input -*/
.input input,
.input-unit input {
    height: 20px;
    line-height: 20px;
    border: 1px solid #e6e5ea;
}
.input input {
    width: 298px;
}
.input-unit input {
    width: 268px;
    padding: 4px 35px 4px 5px;
}
.input-unit .unit {
    display: inline-block;
    position: absolute;
    top: 1px;
    *top: 2px;
    right: 5px;
    width: 30px;
    height: 28px;
    line-height: 28px;
    background-color: #fff;
    color: #aaa;
    text-align: right;
}
.input.error input {
    border-color: #ff3030;
}

.input.title input {
    width: 448px;
}

.input.md input {
    width: 223px;
}
.input-unit.md input {
    width: 198px;
}

.input.sm input {
    width: 136px;
}
.input-unit.sm input {
    width: 118px;
}
.input.readonly input,
.input-unit.readonly input {
    background-color: #eeeeee;
    color: #bbb;
    cursor: not-allowed;
}
.input-unit.readonly .unit{
    background-color: #eeeeee;
}
/*- textarea -*/
.textarea {
    display: inline-block;
    position: relative;
    *width: 480px;
    border: 1px solid #e6e5ea;
}
.textarea textarea {
    width: 468px;
    height: 100px;
    line-height: 20px;
    border: 0;
}
.textarea .errorMessage {
    top: 110px;
}
/*- select -*/
.select {
    position: relative;
    *width: 298px;
    *border: 1px solid #d7d7d7;
    *padding: 5px 5px;
    *height: 18px;
}
.select-wrap {
    position: relative;
    *height: 18px;
    *overflow: hidden;
}
.select select {
    width: 310px;
    *width: 298px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d7d7d7;
    *height: 22px;
    *line-height: 22px;
    *margin-top: -2px;
    *margin-left: -2px;
}
.select.readonly {
    *background: #eeeeee;
    cursor: not-allowed;
}
.select.readonly select {
    background: #eeeeee;
    cursor: not-allowed;
}
.select.error {
    *border-color: #ff3030;
}
.select.error select {
    border-color: #ff3030;
}
.select.sm {
    *width: 128px;
}
.select.sm select {
    width: 140px;
    *width: 128px;
}

/*- checkbox/radio -*/
.chk-group {
    padding-top: 5px;
    overflow: hidden;
}
.chk-group .chklist {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.chk {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 10px 0;
    white-space: nowrap;
}
.chk input {
    display: inline-block;
    height: 20px;
    margin-right: 4px;
}
.chk-group .errorMessage {
    line-height: 20px;
    font-size: 12px;
    color: #ff3030;
}
/*- checkbox/radio -*/
.check {
    position: relative;
    padding-top: 4px;
}
.check span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}
.check input {
    display: inline-block;
    _display: inline;
    height: 20px;
    margin-right: 4px;
}
.check label {
    display: inline-block;
    _display: inline;
    height: 20px;
    margin-right: 20px;
}
/*- form-text -*/
.form-text {
    position: relative;
    width: 298px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    border: 1px solid #e6e5ea;
    background-color: #f2f2f2;
    color: #bbb;
}
/*- button -*/
.btn {
    display: inline-block;
    *display: inline;
    height: 30px;
    padding: 5px 12px;
    *padding: 2px 8px;
    border: 1px solid transparent;
    *border: 0;
    border-radius: 4px;
    margin: 0;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    background-image: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    zoom: 1;
}
.abtn {
    display: inline-block;
    *display: inline;
    height: 18px;
    *height: 24px;
    padding: 5px 12px;
    *padding: 5px 8px;
    border: 1px solid transparent;
    *border: 0;
    border-radius: 4px;
    margin: 0;
    line-height: 18px;
    *line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    background-image: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    zoom: 1;
}
.btn-default {
    border-color: #ccc;
    color: #333;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
}
.btn-primary {
    color: #fff;
    background-color: #398de3;
}
.btn-danger {
    color: #fff;
    background-color: #398de3;
}
.btn-line {
    border-color: #398de3;
    background-color: #fff;
    color: #398de3;
    *border-width: 1px;
    *padding: 2px 6px;
}
.btn-add span {
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
}
/*- file -*/
.file-upload {
    width: 100%;
    overflow: hidden;
}
.file .input-file,
.file .btn-file {
    float: left;
}
.file {
    display: block;
    position: relative;
    width: 750px;
    height: 30px;
    /*margin-bottom: 20px;*/
    overflow: hidden;
}
.file .btn-file {
    border-radius: 0 4px 4px 0;
}
.file .file-show {
    position: relative;
    width: 100%;
}
.file-show .item {
    display: inline-block;
    height: 16px;
    color: #7d7d7d;
    margin: 0 20px 10px 0;
}
.file-show .name {
    white-space: nowrap;
    margin-right: 5px;
}
.file-show .icon-del {
    width: 16px;
    height: 16px;
    background-position: -23px -122px;
}
.file-show .uploadlogo img {
    height: 50px;
    width: auto;
}
.file .select,
.file .sep {
    float: left;
}
/*- file-default -*/
.file-default {
    width: 370px;
}
.file-filed {
    position:absolute;
    top:0;
    left: 0;
    height: 30px;
    width: 370px;
    filter:alpha(opacity:0);
    opacity: 0;
    cursor: pointer;
}
/*- load-file -*/
.load-file {
    position: relative;
}
.load-file .input {
    float: left;
}
.load-file .input input {
    width: 398px;
}
.load-file .load-button {
    float: left;
    position: relative;
    width: 70px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    background-color: #398de3;
    color: #fff;
    border-radius: 0 3px 3px 0;
    z-index: 12;
}
.load-file .load-button input {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    /*font-size: 100px;*/
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 10;
}
/*----- model ------*/
.search-group {
    overflow: hidden;
}
.search-group .item {
    float: left;
    display: inline-block;
    _display: inline;
    margin-right: 10px;
    padding-bottom: 20px;
}
.search-group .label {
    float: left;
    display: inline;
    margin: 6px 5px 0 0;
}
.search-group .input,
.search-group .select {
    float: left;
}
/*----- model ------*/
/*- ui-dialog -*/
.ui-dialog {
    padding: 0;
}
.ui-widget-header {
    background: #fff;
    border: 0;
    font-weight: normal;
    text-align: center;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.ui-dialog .ui-dialog-title {
    float: none;
    margin: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 1.5em 1em;
}
.ui-dialog .ui-dialog-titlebar-close {
    width: 20px;
    height: 20px;
    top: 1em;
    margin: 0;
}
.ui-dialog .widget-header h4 {
    font-size: 16px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    font-size: 14px;
    font-weight: bold;
    font-family: "Arial", "microsoft yahei", "微软雅黑";
    line-height: 16px;
    text-align: center;
    color: #9b9b9b;
}
.ui-widget-content {
    color: #9b9b9b;
}
.ui-widget-content p {
    text-align: center;
}
.ui-widget-content .textarea {
    display: inline-block;
    position: relative;
    *width: 468px;
    border: 1px solid #e6e5ea;
}
.ui-widget-content .textarea textarea {
    width: 456px;
    height: 100px;
    line-height: 20px;
    border: 0;
    font-size: 14px;
}
.ui-widget-content .textarea .errorMessage {
    top: 112px;
}
.ui-dialog #dialog-return .cancel-error-message{
    display: none;
}
.ui-dialog .ui-dialog-buttonpane {
    padding: 1em 1em 1.5em;
    border-width: 0;
    margin: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane button {
    display: inline-block;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 34px;
    line-height: 34px;
    margin: 0;
    padding: 0 12px;
    text-align: center;
    white-space: nowrap;
    outline: none;
}
.ui-dialog .ui-dialog-buttonpane .btn-primary {
    border-color: #398de3;
    background: #398de3;
    color: #fff;
    margin-right: 60px;
}
.ui-dialog .ui-dialog-buttonpane .btn-line {
    border-color: #398de3;
    background-color: #fff;
    color: #398de3;
    /**border-width: 1px;*/

}
.modal-body .section{
    display: block;
}
.modal-body .from-group {
    padding-left: 120px;
}
.modal-body .control-label {
    width: 110px;
}
.modal-footer {
    display: block;
    text-align: center;
    padding: 20px 0;
}
/*- logout-model -*/
.logout-model {
    display: none;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: -100px;
    margin-left: -250px;
    z-index: 1050;
}
.logout-model .modal-dialog {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.logout-model .modal-header {
    overflow: hidden;
}
.logout-model .modal-title {
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
}
.logout-model .modal-body {
    height: 50px;
    padding: 0 30px;
}
.logout-model .modal-body p {
    line-height: 24px;
}
.logout-model .modal-footer {
    height: 70px;
    overflow: hidden;
}
.logout-model .modal-footer .btn {
    width: 70px;
}
.logout-model .modal-footer .btn-line {
    margin-left: 50px;
}
.logout-overlay,
.overlay {
    /*display: none;*/
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 1040;
}
.overlay-iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    filter:alpha(opacity=0);
}

/*----- selectList ------*/
.selectList .tag {
    color: #7d7d7d;
    display: inline-block;
    height: 16px;
    margin: 0 20px 10px 0
}
.selectList .name {
    margin-right: 5px;
    white-space: nowrap;
}
.selectList .icon-del {
    width: 16px;
    height: 16px;
    background: url("../img/del.gif") no-repeat;
}
/*----- alert ------*/
.alert {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #fff;
    line-height: 18px;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert .icon-alert {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.alert-warning .icon-alert {
    background-position: -20px -140px;
}
.alert-info .icon-alert {
    background-position: -20px -160px;
}
.alert-danger .icon-alert {
    background-position: -20px -180px;
}
.alert p {
    line-height: 24px;
    padding-left: 30px;
}
/*----- add-filed ------*/
.add-filed {
    width: 100%;
    overflow: hidden;
}
.add-filed .add {
    display: block;
    position: relative;
    width: 750px;
    height: 30px;
    margin-bottom: 20px;
}
.add-filed .add .input,
.add-filed .add .select,
.add-filed .add .btn,
.add-filed .add .sep {
    float: left;
}
.add-filed .add-show {
    position: relative;
    width: 100%;
}

.add-filed .item {
    display: inline-block;
    height: 16px;
    color: #7d7d7d;
    margin: 0 20px 10px 0;
}
.add-filed .name {
    white-space: nowrap;
    margin-right: 5px;
}
.add-filed .icon-del {
    width: 16px;
    height: 16px;
    background-position: -23px -122px;
}
/*----- dxhlist ------*/
.dxhlist {
    display: block;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.dxhlist .item {
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.dxhlist .item input {
    display: inline-block;
    _display: inline;
    height: 20px;
    margin-right: 4px;
    padding: 0;
}
.dxhlist .item label {
    display: inline-block;
    _display: inline;
    height: 20px;
    white-space: nowrap;
}
.dxhlist .showmore {
    float: left;
    margin: 2px 10px 10px 0;
    *margin: 0 10px 10px 0;
    color: #398de3;
    cursor: pointer;
}
.dxh-selected span {
    line-height: 20px;
    padding-right: 5px;
}
/*----- role-list ------*/
.role-list {
    display: block;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.role-list .item {
    float: left;
    width: 240px;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px 6px 0;
    overflow: hidden;
}
.role-list .item input {
    display: inline-block;
    _display: inline;
    height: 20px;
    margin-right: 4px;
}
.role-list .item label {
    display: inline-block;
    _display: inline;
    height: 20px;
    white-space: nowrap;
}
/*----- set-rate ------*/
.set-rate {
    overflow: hidden;
}
.set-rate .item {
    position: relative;
    height: 30px;
    margin-bottom: 20px;
}
.set-rate .item .input,
.set-rate .item .unit,
.set-rate .item .sep,
.set-rate .item .label-sep,
.set-rate .item .label {
    float: left;
}
.set-rate .item .input input {
    width: 100px;
}
.set-rate .item .unit,
.set-rate .item .sep,
.set-rate .item .label {
    line-height: 30px;
}
.set-rate .item .unit {
    padding-left: 6px;
    color: #999;
}
.set-rate .item .sep {
    padding: 0 10px;
    width: 30px;
}
.set-rate .item .label {
    padding: 0 6px 0 50px;
}
.set-rate .item .label.lg {
    padding: 0 6px 0 246px;
}
.set-rate .add-btn {
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
}
.set-rate .add-btn span {
    line-height: 32px;
    padding: 0 0 0 5px;
}
.set-rate .del-btn {
    float: left;
}
.set-rate .icon-del {
    width: 22px;
    height: 22px;
    background: url("../img/icon_del.png") no-repeat;
    margin: 5px 0 0 20px;
    cursor: pointer;
}
/*----- batch ------*/
.batch-wrapper {
    margin-left: 30px;
}
.batch-item {
    position: relative;
    padding: 30px 20px;
    border-left: 1px solid #d7d7d7;
}

.batch-item .tit {
    position: absolute;
    left: -8px;
    top: -9px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
}

.batch-item .tit i {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border: 3px solid #999;
    border-radius: 50%;
    background-color: #fff;
}

.batch-item .tit.active i {
    border-color: #3498db;
}

.batch-step {
    overflow: hidden;
}

.batch-step .step {
    position:relative;
    float: left;
    margin-bottom: 10px;
}

.batch-step .btn {
    float: left;
    display: inline-block;
    width: 220px;
    height: 20px;
    line-height:20px;
    border: 1px solid #ccc;
}

.batch-step .btn.disabled {
    color: #999;
}

.batch-step .btn.active {
    color: #3498db;
}

.batch-step .btn.success {
    color: #2ecc71;
}

.batch-step .btn.danger {
    color: #e74c3c;
}

.batch-step .sep {
    float: left;
    width: 40px;
    font-size: 24px;
    line-height: 30px;
    color: #ccc;
    text-align: center;
}

.batch-step .step .loading {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 246px;
    height: 32px;
    background: #000 url("../img/step-loading.gif") no-repeat center center;
    opacity: 0.5;
    filter: Alpha(Opacity=50);
    border-radius: 4px;

}

.batch .errorMessage {
    line-height: 30px;
    color: red;
    padding: 0 10px;
}

.imglist-pop {
    padding-top: 10px;
}
.imglist-pop .item {
    float: left;
    width: 150px;
    overflow: hidden;
    margin-right: 15px;
    margin-bottom: 15px;
}
.imglist-pop .item a {
    display: block;
    width: 100%;
}
.imglist-pop .item img {
    display: block;
    width: 100%;
}
.img-detail .item {
    width: 500px;
}
/*----- logis-info ------*/
.logis-info {
    width: 100%;
    height: auto;
    padding: 15px 20px;
}
.logis-info .item {
    position: relative;
    height: 30px;
    padding: 0 20px;
    border-left: 1px solid #d9d9d9;
    /*border: 1px solid #000;*/
    font-size: 14px;
    color: #646464;
}
.logis-info .start {
    height: 16px;
    line-height: 16px;
}
.logis-info .item .icon {
    position: absolute;
    left: -6px;
    top: 3px;
    width: 6px;
    height: 6px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #d9d9d9;
}
.logis-info .start .icon {
    top: 5px;
}
.logis-info .item .time {
    display: inline-block;
    width: 180px;
}
.logis-info .active .icon {
    left: -8px;
    top: 0;
    width: 8px;
    height: 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #398de3;
}
.logis-info .active {
    color: #398de3;
}
/*----- select-sellBank-group ------*/
.select-sellBank-group {
    width: 100%;
    overflow: hidden;
}
.select-sellBank-group .search-bank-list {
    display: block;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 10px;
}
.select-sellBank-group .search-bank-list .item {
    float: left;
    width: 300px;
    height: 18px;
    line-height: 18px;
    padding: 6px 10px 6px 0;
    overflow: hidden;
}
.select-sellBank-group .search-bank-list .item input {
    display: inline-block;
    _display: inline;
    height: 20px;
    margin-right: 4px;
}
.select-sellBank-group .search-bank-list .item label {
    display: inline-block;
    _display: inline;
    height: 20px;
    white-space: nowrap;
}
.select-sellBank-group .selected-list {
    display: block;
    overflow: hidden;
    margin-top: 4px;
}
.select-sellBank-group .selected-list .item {
    float: left;
    width: 200px;
    height: 16px;
    margin: 0 20px 10px 0;
    color: #7d7d7d;
}
.select-sellBank-group .selected-list .item .name {
    margin-right: 5px;
    white-space: nowrap;
}
.select-sellBank-group .selected-list .item .icon-del {
    background-position: -23px -122px;
    _background-position: -23px -120px;
    height: 16px;
    width: 16px;
}











